---
import type { Book } from '../../types'; // Cambia a importación solo de tipo
import type {BookListResponse} from "../../interfaces/book-list-response"
import type { GetStaticPaths } from "astro";
import MainLayout from '../../layouts/MainLayout.astro';
import axios from '../../axiosConfig'; // Importa la configuración de Axios

const { id } = Astro.params; // Obtén el ID del libro de la URL

// Realiza la solicitud a la API de Gutendex para obtener el libro específico
let book: Book;

try {
    const response = await axios.get(`books/${id}`);
    book = response.data; // Usa el tipo Book
} catch (error) {
    console.error("Error al obtener el libro:", error);
    throw new Error("Libro no encontrado");
}

export const getStaticPaths = (async () => {
    try {
        const resp = await axios.get('books');
        const { results } = resp.data as BookListResponse;

        return results.map(({ id }) => ({
            params: { id },
            props: { id }
        }));
    } catch (error) {
        console.error("Error al obtener la lista de libros:", error);
        return [];
    }
}) satisfies GetStaticPaths;

---
<body class=" bg-black text-slate-100 m-auto max-w-screen-2xl">
    <div class="mt-64 flex justify-center items-center">
        <div class="flex justify-center items-center">

            <div class:list={[
                ` rounded bg-slate-500 text-center p-2 `,
            
            ]}> 
            
            <h1>{book.title}</h1>
            <p>Autor: {book.authors.map((author: { name: string }) => author.name).join(', ')}</p> <!-- Especifica el tipo de 'author' -->
            <p>Fecha de Publicacion: {book.formats['text/html'] ? 'Disponible en HTML' : 'No disponible'}</p>
            <p>Descripcion: {book.description || 'No hay descripcion disponible.'}</p>
            <img class="ml-16 mt-2" src=`https://www.gutenberg.org/cache/epub/${id}/pg${id}.cover.medium.jpg` alt="">
            <a href={book.formats['text/html']}>Leer en linea</a>
            
            </div>
            </div>
    </div>

</body>
    
